<div class="row">
    <div class="col s12">
        <h2 class="flow-text my-header">DASHBOARD</h2>
    </div>
    <div class="col s12 l6">
        <sos-item [routerLink]="['/cadastrar-categorias']" [icon]="'subtitles'" [title]="'CADASTRAR CATEGORIAS DE SERVIÇOS PARTICULARES'" [background-color]="'white'" [text-color]="'red'"></sos-item>
    </div>
    <div class="col s12 l6">
        <sos-item [routerLink]="['/cadastrar-servicos-particulares']" [icon]="'subtitles'" [title]="'CADASTRAR ITENS DE SERVIÇOS PARTICULARES'" [background-color]="'white'" [text-color]="'red'"></sos-item>
    </div>
</div>
