<div class="row">
    <div class="col s12">
        <h2 class="flow-text my-header">CADASTRO DE CATEGORIAS DE SERVIÇOS</h2>
        <button class="btn waves-effect waves-light blue darken-3" type="button" (click) = "newCategory()">
            Novo
            <i class="material-icons right">add</i>
        </button>
        <form (ngSubmit) = "onSubmit()" *ngIf="active" #myForm="ngForm">
            <div class="input-field">
                <label for="name" class="active">Nome</label>
                <input id="name" name="name" type="text" required autofocus [(ngModel)]="model.name" #spyName="ngModel">
                <div class="red-text" [hidden]="spyName.valid || spyName.pristine">O nome é obrigatório</div>
            </div>
            <button class="btn waves-effect waves-light red lighten-1" [disabled] = "!myForm.form.valid" *ngIf="!isUpdate" type="submit" name="action">
                Salvar
                <i class="material-icons right">send</i>
            </button>
            <button class="btn waves-effect waves-light orange darken-1" [disabled] = "!myForm.form.valid" *ngIf="isUpdate" type="submit" name="action">
                Atualizar
                <i class="material-icons right">send</i>
            </button>
            <button class="btn waves-effect waves-light blue lighten-1" (click) = "resetForm">
                Limpar
                <i class="material-icons right">clear</i>
            </button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <h2 class="flow-text my-header">CATEGORIAS DE SERVIÇOS</h2>
        <table class="bordered red lighten-3">
            <thead>
                <tr class="red lighten-1">
                    <th data-field="id">#</th>
                    <th data-field="name">Categoria</th>
                    <th data-field="action">Ações</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let category of categories; let i = index">
                    <td>{{category.id}}</td>
                    <td>{{category.name}}</td>
                    <td>
                        <a class="btn waves-effect waves-light orange darken-1" (click) = "edit(category)">
                            <i class="material-icons">edit</i>
                        </a>
                        <a class="btn waves-effect waves-light red darken-1" (click) = "remove(category)">
                            <i class="material-icons">delete_forever</i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>