<style>


</style>
<div class="row">
    <div class="col s12">
        <h2 class="flow-text my-header">CADASTRO DE SERVIÇOS</h2>
        <button class="btn waves-effect waves-light blue darken-3" type="button" (click) = "onNew()">
            Novo
            <i class="material-icons right">add</i>
        </button>
        <form (ngSubmit) = "onSubmit()" *ngIf="active" #myForm="ngForm">

            <div class="input-field">
                <label for="name" class="active">Nome</label>
                <input id="name" name="name" type="text" required autofocus [(ngModel)]="model.name" #spyName="ngModel">
                <div class="red-text" [hidden]="spyName.valid || spyName.pristine">O nome é obrigatório</div>
            </div>
            <div class="input-field">
                <label for="phone" class="active">Telefone</label>
                <input id="phone" name="phone" type="tel" required [(ngModel)]="model.phone" #phone="ngModel">
                <div class="red-text" [hidden]="phone.valid || phone.pristine">O telefone é obrigatório</div>
            </div>

            <div class="input-field my-wrapper-select">
                <label for="cat" class="active">Categoria</label>
                <select class="browser-default my-select" id="cat" name="cat" [(ngModel)]="model.category" #cat="ngModel" required>
                    <option *ngFor="let c of categories" [ngValue]= "c">{{c.name}}</option>
                </select>
                <div class="red-text" [hidden]="cat.valid || cat.pristine">A categoria é obrigatória</div>
            </div>

            <div class="input-field my-wrapper-select">
                <label for="city" class="active">Cidade</label>
                <select class="browser-default my-select" id="city" name="city" [ngModel]="model.neighborhood.city" #city="ngModel" (change) = "onChangeCity($event.target.value)"required>
                    <option *ngFor="let c of cities" [value]= "c.name">{{c.name}}</option>
                </select>
                <div class="red-text" [hidden]="city.valid || city.pristine">A cidade é obrigatória</div>
            </div>

            <div class="input-field active my-wrapper-select">
                <label for="neigh" class="active">Bairro</label>
                <select class="browser-default my-select" id="neigh" name="neigh" [ngModel]="model.neighborhood.name" (change)= "onChangeNeigh($event.target.value)" #neigh="ngModel" required>
                    <!--<option value="" disabled selected>Seu bairro...</option>-->
                    <option *ngFor="let n of neighborhoods" [value]="n.name">{{n.name}}</option>
                </select>
                <div class="red-text" [hidden]="neigh.valid || neigh.pristine">O bairro é obrigatório</div>
            </div>

            <div class="input-field">
                <label for="description" class="active">Descrição:</label>
                <textarea id="description" name="description" type="tel" maxlength="500" class="materialize-textarea" [(ngModel)]="model.description" #d #description="ngModel"></textarea>
                <p class="right">
                    <b>Caracteres Restantes: </b>{{d.getAttribute("maxlength") - d.value.length}}
                </p>
                <div class="red-text" [hidden]="description.valid || description.pristine">Preencher corretamente a descrição</div>
            </div>

            <button class="btn waves-effect waves-light red lighten-1" [disabled] = "!myForm.form.valid" *ngIf="!isUpdate" type="submit" name="action">
                Salvar
                <i class="material-icons right">send</i>
            </button>
            <button class="btn waves-effect waves-light orange darken-1" [disabled] = "!myForm.form.valid" *ngIf="isUpdate" type="submit" name="action">
                Atualizar
                <i class="material-icons right">send</i>
            </button>
            <button class="btn waves-effect waves-light blue lighten-1" (click) = "resetForm">
                Limpar
                <i class="material-icons right">clear</i>
            </button>
        </form>
        {{model|json}}
    </div>
</div>

<div class="row">
    <div class="col s12">
        <h2 class="flow-text my-header">SERVIÇOS</h2>
        <table class="bordered responsive-table red lighten-3">
            <thead>
            <tr class="red lighten-1">
                <th data-field="id">#</th>
                <th data-field="name">Nome</th>
                <th data-field="phone">Telefone</th>
                <th data-field="cat">Categoria</th>
                <th data-field="city">Cidade</th>
                <th data-field="neigh">Bairro</th>
                <th data-field="action">Ações</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let e of entities; let i = index">
                <td>{{e.id}}</td>
                <td>{{e.name}}</td>
                <td>{{e.phone}}</td>
                <td>{{e.category.name}}</td>
                <td>{{e.neighborhood.city}}</td>
                <td>{{e.neighborhood.name}}</td>
                <td>
                    <a class="btn waves-effect waves-light orange darken-1" (click) = "onEdit(e)">
                        <i class="material-icons">edit</i>
                    </a>
                    <a class="btn waves-effect waves-light red darken-1" (click) = "onRemove(e)">
                        <i class="material-icons">delete_forever</i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
