<div class="row">
    <div class="col s12">
        <h2 class="flow-text my-header">TELEFONES DE EMERGÊNCIA</h2>
    </div>
    <div class="col s12">
        <ul class="collection">
            <li class="collection-item">
                <div class="row">
                    <div class="col s3 m2 center">
                        <i class="material-icons medium">local_airport</i>
                    </div>
                    <div class="col s9 m5">
                        <h5 class="flow-text">AEROPORTO</h5>
                    </div>
                    <div class="col s9 offset-s3 m5 left-align">
                        <span class="flow-text medium red-text">(42) 3627 4991</span>
                    </div>
                </div>
            </li>
            <li class="collection-item">
                <div class="row">
                    <div class="col s3 m2 center">
                        <i class="material-icons medium">local_hospital</i>
                    </div>
                    <div class="col s9 m5">
                        <h5 class="flow-text">AMBULÂNCIA DO SAMU</h5>
                    </div>
                    <div class="col s9 offset-s3 m5 left-align">
                        <span class="flow-text medium red-text">192</span>
                    </div>
                </div>
            </li>
            <li class="collection-item">
                <div class="row">
                    <div class="col s3 m2 center">
                        <i class="material-icons medium">whatshot</i>
                    </div>
                    <div class="col s9 m5">
                        <h5 class="flow-text">CORPO DE BOMBEIROS</h5>
                    </div>
                    <div class="col s9 offset-s3 m5 left-align">
                        <span class="flow-text medium red-text">193</span>
                    </div>
                </div>
            </li>
            <li class="collection-item">
                <div class="row">
                    <div class="col s3 m2 center">
                        <i class="material-icons medium">pregnant_woman</i>
                    </div>
                    <div class="col s9 m5">
                        <h5 class="flow-text">DELEGACIA DA MULHER</h5>
                    </div>
                    <div class="col s9 offset-s3 m5 left-align">
                        <span class="flow-text medium red-text">180</span>
                    </div>
                </div>
            </li>
            <li class="collection-item">
                <div class="row">
                    <div class="col s3 m2 center">
                        <i class="material-icons medium">local_taxi</i>
                    </div>
                    <div class="col s9 m5">
                        <h5 class="flow-text">POLÍCIA MILITAR</h5>
                    </div>
                    <div class="col s9 offset-s3 m5 left-align">
                        <p><span class="flow-text medium red-text">190</span></p>
                    </div>
                </div>
            </li>
            <li class="collection-item">
                <div class="row">
                    <div class="col s3 m2 center">
                        <i class="material-icons medium">local_taxi</i>
                    </div>
                    <div class="col s9 m5">
                        <h5 class="flow-text">POLÍCIA RODOVIÁRIA FEDERAL</h5>
                    </div>
                    <div class="col s9 offset-s3 m5 left-align">
                        <p><span class="flow-text medium red-text">191</span></p>
                        <p><span class="flow-text medium red-text">(42) 3649 1273</span></p>
                    </div>
                </div>
            </li>
            <li class="collection-item">
                <div class="row">
                    <div class="col s3 m2 center">
                        <i class="material-icons medium">local_taxi</i>
                    </div>
                    <div class="col s9 m5">
                        <h5 class="flow-text">POLÍCIA FEDERAL</h5>
                    </div>
                    <div class="col s9 offset-s3 m5 left-align">
                        <p><span class="flow-text medium red-text">194</span></p>
                        <p><span class="flow-text medium red-text">(42) 3626 2298</span></p>
                    </div>
                </div>
            </li>
            <li class="collection-item">
                <div class="row">
                    <div class="col s3 m2 center">
                        <i class="material-icons medium">local_taxi</i>
                    </div>
                    <div class="col s9 m5">
                        <h5 class="flow-text">POLÍCIA CIVIL</h5>
                    </div>
                    <div class="col s9 offset-s3 m5 left-align">
                        <span class="flow-text medium red-text">197</span>
                    </div>
                </div>
            </li>
            <li class="collection-item">
                <div class="row">
                    <div class="col s3 m2 center">
                        <i class="material-icons medium">local_taxi</i>
                    </div>
                    <div class="col s9 m5">
                        <h5 class="flow-text">POLÍCIA RODOVIÁRIA ESTADUAL</h5>
                    </div>
                    <div class="col s9 offset-s3 m5 left-align">
                        <span class="flow-text medium red-text">198</span>
                    </div>
                </div>
            </li>
            <li class="collection-item">
                <div class="row">
                    <div class="col s3 m2 center">
                        <i class="material-icons medium">account_balance</i>
                    </div>
                    <div class="col s9 m5">
                        <h5 class="flow-text">PREFEITURA</h5>
                    </div>
                    <div class="col s9 offset-s3 m5 left-align">
                        <span class="flow-text medium red-text">(42) 3621 3000</span>
                    </div>
                </div>
            </li>
            <li class="collection-item">
                <div class="row">
                    <div class="col s3 m2 center">
                        <i class="material-icons medium">directions_bus</i>
                    </div>
                    <div class="col s9 m5">
                        <h5 class="flow-text">RODOVIÁRIA</h5>
                    </div>
                    <div class="col s9 offset-s3 m5 left-align">
                        <p><span class="flow-text medium red-text">(42) 3624 2672</span></p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
