<div class="navbar-fixed">
    <nav >
        <div class="nav-wrapper red darken-5">
            <div class="container">
                <a [routerLink]="['/home']" class="brand-logo">
                    <img class="logo" src="../assets/res/img/logo-complete.png">
                </a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a [routerLink]="['/how-works']" class="flow-text">Como Funciona</a></li>
                    <li><a href="collapsible.html" class="flow-text">Configurações</a></li>
                    <li><a href="mobile.html" class="flow-text">Login</a></li>
                </ul>
                <ul class="side-nav red lighten-4" id="mobile-demo">
                    <div class="row">
                        <div class="col s8 offset-s2">
                            <div class="center">
                                <img class="responsive-img" src="../assets/res/img/logo.png">
                            </div>
                        </div>
                    </div>

                    <li><a href="badges.html">Como Funciona</a></li>
                    <li><a href="badges.html">Configurações</a></li>
                    <li><a href="collapsible.html">Contato</a></li>
                    <li><a href="mobile.html">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <router-outlet>

    </router-outlet>
</div>



