<style>
    .my-wrapper-radio{
        margin-bottom: 4em;
    }

    .my-radio{
        margin-top: 2em;
    }

    .my-chatter{
        display: block;
    }

    .my-bubble{
        clear: both !important;
    }


</style>

<div class="row">
    <div class="col s12">
        <sos-title [icon]="icon" [title]="title" [background-color]="'white'" [text-color]="'red'"></sos-title>
    </div>
</div>
<div class="row">
    <div class="col s12" *ngIf="submitted">
        <h2 class="flow-text my-header">{{'Conversação' | uppercase}}</h2>
        <div *ngFor="let m of messages">
            <div [ngSwitch]="m.sender">
                <div *ngSwitchCase="'eu'" class="row">
                    <div class="col s9">
                        <span class="my-chatter">EU:</span>
                        <div class="talk-bubble tri-right left-top my-bubble">
                            <div class="talktext">
                                <p>{{m.message}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" *ngSwitchDefault>
                    <div class="col s9 offset-s3">
                        <span class="my-chatter right">{{title}}</span>
                        <div class="talk-bubble right tri-right right-top my-bubble">
                            <div class="talktext">
                                <p>This one.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="chat-textarea" name="chat" class="materialize-textarea" #chat></textarea>
                        <label for="chat-textarea" class="active">Mensagem</label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light red lighten-1" [disabled]="chat.value.length == 0" (click)="addUserMessage(chat.value); chat.value=''" type="button">
                    Enviar
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <form (ngSubmit) = "onSubmit()" *ngIf="active" #myForm="ngForm">
        <div class="col s12" *ngIf="!submitted">
            <h2 class="flow-text my-header">{{'Identificação' | uppercase}}</h2>
            <div class="input-field">
                <label for="name" class="active">Qual o seu nome?</label>
                <input id="name" name="name" type="text" required autofocus [(ngModel)]="model.name" #name="ngModel">
                <div class="red-text" [hidden]="name.valid || name.pristine">O nome é obrigatório</div>
            </div>
            <div class="input-field">
                <label for="age" class="active">Qual a sua idade?</label>
                <input id="age" name="age" type="number" required [(ngModel)]="model.age" #age="ngModel">
                <div class="red-text" [hidden]="age.valid || age.pristine">A sua idade é obrigatória</div>
            </div>
            <label class="active my-wrapper-radio">Qual o seu sexo?</label>
            <div class="input-field">
                <p class="my-radio">
                    <input id="m" name="sex" type="radio" (click)="onChange(true)" [checked]="model.isMasculine == true">
                    <label for="m" class="active">Masculino</label>
                </p>
                <p>
                    <input id="f" name="sex" type="radio" (click)="onChange(false)" [checked]="model.isMasculine == false">
                    <label for="f" class="active">Feminino</label>
                </p>
            </div>
        </div>

        <div class="col s12">
            <h2 class="flow-text my-header">{{'Localização' | uppercase}}</h2>
            <blockquote>
                <ul>
                    <li>
                        Informe a localização em que é necessário o atendimento.
                    </li>
                    <li>
                        Arraste o marcador no mapa para informar com maior precisão a localização.
                    </li>
                </ul>
            </blockquote>
            <sos-map (addressChangeEmitter)="onAddressChange($event)"></sos-map>
        </div>

        <div class="col s12" *ngIf="!submitted">
            <h2 class="flow-text my-header">{{'Ocorrência' | uppercase}}</h2>
            <blockquote>
                <ul>
                    <li>
                        Descreva o ocorrido para que possamos ajudá-lo.
                    </li>
                </ul>
            </blockquote>
            <div class="row">
                <div class="input-field col s12">
                    <label class="active my-wrapper-radio">Quem é a vítima?</label>
                    <div class="input-field">
                        <p class="my-radio">
                            <input id="i-victim" name="victim" type="radio" (click)="onChangeVictim(true)" [checked]="model.isVictim == true">
                            <label for="i-victim" class="active">Eu sou a vítima</label>
                        </p>
                        <p>
                            <input id="other-victim" name="victim" type="radio" (click)="onChangeVictim(false)" [checked]="model.isVictim == false">
                            <label for="other-victim" class="active">Outra pessoa é a vítima</label>
                        </p>
                    </div>
                    <div class="input-field">
                        <textarea id="occur-textarea" name="occur" class="materialize-textarea" [(ngModel)]="occurrence"></textarea>
                        <label for="occur-textarea" class="active">O quê aconteceu?</label>
                    </div>
                </div>

            </div>
        </div>
        <div class="col s12" *ngIf="!submitted">
            <button class="btn waves-effect waves-light red lighten-1" [disabled] = "!myForm.form.valid" *ngIf="!isUpdate" type="submit" name="action">
                Enviar
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>
