<div class="row">
    <div class="col s12">
        <h2 class="flow-text my-header">SERVIÇOS PARTICULARES</h2>
    </div>
    <!--
    <div class="col s12">
        <h4 class="flow-text my-content-header center">SERVIÇOS PARTICULARES</h4>
    </div>
    -->
    <div class="col s12 l6">
        <sos-item [routerLink]="['/lista-itens-servicos-particulares', 'Mecânico', 'build', 'grey darken-3']" [icon]="'build'" [title]="'MECÂNICO'" [background-color]="'grey darken-3'" [text-color]="'white'"></sos-item>
    </div>
    <div class="col s12 l6">
        <sos-item [routerLink]="['/lista-itens-servicos-particulares', 'Carpinteiro', 'gavel', 'brown darken-1']" [icon]="'gavel'" [title]="'CARPINTEIRO'" [background-color]="'brown darken-1'" [text-color]="'white'"></sos-item>
    </div>
    <div class="col s12 l6">
        <sos-item [routerLink]="['/lista-itens-servicos-particulares', 'Eletricista', 'lightbulb_outline', 'yellow darken-3']" [icon]="'lightbulb_outline'" [title]="'ELETRICISTA'" [background-color]="'yellow darken-3'" [text-color]="'white'"></sos-item>
    </div>
    <div class="col s12 l6">
        <sos-item [routerLink]="['/lista-itens-servicos-particulares', 'Encanador', 'format_color_reset', 'blue accent-2']" [icon]="'format_color_reset'" [title]="'ENCANADOR'" [background-color]="'blue accent-2'" [text-color]="'white'"></sos-item>
    </div>
    <div class="col s12 l6">
        <sos-item [routerLink]="['/lista-itens-servicos-particulares', 'Guincho', 'directions_car', 'grey darken-1']" [icon]="'directions_car'" [title]="'GUINCHO'" [background-color]="'grey darken-1'" [text-color]="'white'"></sos-item>
    </div>
    <div class="col s12 l6">
        <sos-item [routerLink]="['/lista-itens-servicos-particulares', 'Dedetizador', 'bug_report', 'indigo lighten-1']" [icon]="'bug_report'" [title]="'DEDETIZADOR'" [background-color]="'indigo lighten-1'" [text-color]="'white'"></sos-item>
    </div>
    <div class="col s12 l6">
        <sos-item [routerLink]="['/lista-itens-servicos-particulares', 'Desentupidor', 'tonality', 'light-blue darken-1']" [icon]="'tonality'" [title]="'DESENTUPIDOR'" [background-color]="'light-blue darken-1'" [text-color]="'white'"></sos-item>
    </div>
    <div class="col s12 l6">
        <sos-item [routerLink]="['/lista-itens-servicos-particulares', 'Pedreiro', 'store', 'deep-orange darken-1']" [icon]="'store'" [title]="'PEDREIRO'" [background-color]="'deep-orange darken-1'" [text-color]="'white'"></sos-item>
    </div>
    <div class="col s12 l6">
        <sos-item [routerLink]="['/lista-itens-servicos-particulares', 'Pintor', 'format_paint', 'purple darken-1']" [icon]="'format_paint'" [title]="'PINTOR'" [background-color]="'purple darken-1'" [text-color]="'white'"></sos-item>
    </div>
    <div class="col s12 l6">
        <sos-item [routerLink]="['/lista-itens-servicos-particulares', 'Mudanças e Carreto', 'local_shipping', 'lime darken-2']" [icon]="'local_shipping'" [title]="'MUDANÇAS E CARRETO'" [background-color]="'lime darken-2'" [text-color]="'white'"></sos-item>
    </div>
    <div class="col s12 l6">
        <sos-item [routerLink]="['/lista-itens-servicos-particulares', 'Jardineiro', 'filter_vintage', 'green darken-1']" [icon]="'filter_vintage'" [title]="'JARDINEIRO'" [background-color]="'green darken-1'" [text-color]="'white'"></sos-item>
    </div>
    <div class="col s12 l6">
        <sos-item [routerLink]="['/lista-itens-servicos-particulares', 'Motoboy', 'motorcycle', 'grey darken-4']" [icon]="'motorcycle'" [title]="'MOTOBOY'" [background-color]="'grey darken-4'" [text-color]="'white'"></sos-item>
    </div>
    <div class="col s12 l6">
        <sos-item [routerLink]="['/lista-itens-servicos-particulares', 'Chaveiro', 'vpn_key', 'amber darken-3']" [icon]="'vpn_key'" [title]="'CHAVEIRO'" [background-color]="'amber darken-3'" [text-color]="'white'"></sos-item>
    </div>
    <div class="col s12 l6">
        <sos-item [routerLink]="['/lista-itens-servicos-particulares', 'Técnico em Computação', 'computer', 'deep-purple lighten-2']" [icon]="'computer'" [title]="'TÉCNICO EM COMPUTAÇÃO'" [background-color]="'deep-purple lighten-2'" [text-color]="'white'"></sos-item>
    </div>
</div>