<div class="row">
    <div class="col s12">
        <sos-title [icon]="icon" [title]="category | uppercase" [background-color]="back" [text-color]="'white'"></sos-title>
    </div>
    <div class="col s12">
        <ul class="collection">

            <li class="collection-item" *ngFor="let e of entities">
                <detail-item [name]="e.name" [phone]="e.phone" [description]="e.description" [neigh]="e.neighborhood"></detail-item>
            </li>

        </ul>
    </div>
</div>