<style>
    .my-neigh{
        color: gray;
    }
</style>
<div class="row">
    <div class="col s3 m2 center">
        <i class="material-icons medium">insert_chart</i>
    </div>
    <div class="col s9 m6">
        <span class="flow-text">{{name}}</span>
        <p>
            <span class="my-neigh">{{neighborhood.name + " - "  + neighborhood.city}}</span><br>
            <span>{{description}}</span>
        </p>
    </div>
    <div class="col s9 offset-s3 m4 left-align">
        <span class="flow-text medium red-text">{{phone}}</span>
    </div>
</div>

