
.ng-valid[required] {
    border-left: 5px solid #42A948;
}

.ng-invalid[required] {
    border-left: 5px solid #ff2d0e;
}

.my-select{
    background: transparent;
    border: transparent;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #ef5350;
    box-shadow: 0 1px 0 0 #ef5350;
}
