body{
    font-family: "Roboto", serif;
}

.logo{
    height: 2em;
}

.my-header{
    padding: 1em 0em;
    font-weight: 600;
}

.my-content-header{
    font-weight: 600;
}

.my-wrapper-select{
    margin-bottom: 2em;
}

@media (max-width: 600px) {
    .logo{
        height: 2em;
    }
}


