<style>
    #mapHolder{
        height: 350px;
    }

    .my-center-element {
        margin-top: 1.1em;
    }
</style>

<div class="row">
    <form (ngSubmit) = "onSubmit()" #addressForm="ngForm">
        <div class="col s12 m6">
            <div class="input-field">
                <label for="street" class="active">Rua</label>
                <input id="street" name="street" type="text" required autofocus [(ngModel)]="location.street" #street="ngModel">
                <div class="red-text" [hidden]="street.valid || street.pristine">A rua é obrigatório</div>
            </div>
        </div>
        <div class="col s12 m2">
            <div class="input-field">
                <label for="number" class="active">Número</label>
                <input id="number" name="number" type="number" required [(ngModel)]="location.number" #number="ngModel">
                <div class="red-text" [hidden]="number.valid || number.pristine">A rua é obrigatório</div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="input-field my-wrapper-select">
                <label for="city" class="active">Cidade</label>
                <select class="browser-default my-select" id="city" name="city" [ngModel]="location.city" #city="ngModel" (change) = "onChangeCity($event.target.value)" required>
                    <option *ngFor="let c of cities" [value]= "c.name">{{c.name}}</option>
                </select>
                <div class="red-text" [hidden]="city.valid || city.pristine">A cidade é obrigatória</div>
            </div>
        </div>
        <div class="col s12 m1">
            <button class="btn my-center-element waves-effect waves-light red lighten-1" type="button" [disabled] = "!addressForm.form.valid" (click) = "onSearchAddress()">
                <i class="material-icons">search</i>
            </button>
        </div>
    </form>
</div>
<div class="row">
    <div id="mapHolder" *ngIf="isSupported">

    </div>
    <div *ngIf="!isSupported">
        Mapa não disponível
    </div>
</div>
