<div class="row">
    <div class="col s12">
        <h2 class="flow-text my-header">SERVIÇOS</h2>
    </div>
    <div class="col s12 l6">
        <sos-item [routerLink]="['/chamado/AMBULÂNCIA - SAMU/local_hospital/white/red']" [icon]="'local_hospital'" [title]="'AMBULÂNCIA - SAMU'" [background-color]="'white'" [text-color]="'red'"></sos-item>
    </div>
    <div class="col s12 l6">
        <sos-item [routerLink]="['/home']" [icon]="'local_taxi'" [title]="'POLÍCIA'" [background-color]="'grey darken-4'" [text-color]="'white'"></sos-item>
    </div>
    <div class="col s12 l6">
        <sos-item [routerLink]="['/home']" [icon]="'whatshot'" [title]="'BOMBEIROS'" [background-color]="'red'" [text-color]="'white'"></sos-item>
    </div>
    <div class="col s12 l6">
        <sos-item [routerLink]="['/home']" [icon]="'pets'" [title]="'CANIL'" [background-color]="'brown darken-1'" [text-color]="'white'"></sos-item>
    </div>
    <div class="col s12 l6">
        <sos-item [routerLink]="['/home']" [icon]="'format_color_fill'" [title]="'VIGILÂNCIA SANITÁRIA'" [background-color]="'blue-grey darken-1'" [text-color]="'white'"></sos-item>
    </div>
    <div class="col s12 l6">
        <sos-item [routerLink]="['/home']" [icon]="'speaker_notes'" [title]="'RECLAMA GUARAPUAVA'" [background-color]="'green darken-1'" [text-color]="'white'"></sos-item>
    </div>
    <div class="col s12 l6">
        <sos-item [routerLink]="['/lista-categorias-servicos-particulares']" [icon]="'build'" [title]="'SERVIÇOS PARTICULARES'" [background-color]="'yellow darken-4'" [text-color]="'white'"></sos-item>
    </div>
    <div class="col s12 l6">
        <sos-item [routerLink]="['/numeros-emergencia']" [icon]="'local_phone'" [title]="'TELEFONES DE EMERGÊNCIA'" [background-color]="'blue lighten-1'" [text-color]="'white'"></sos-item>
    </div>
</div>