<style>
    .my-item{
        padding: 2em;
    }
</style>
<div class="my-item card waves-effect waves-block waves-light {{backColor}}">
    <div class="row">
        <div class="col-sm-12">
            <div class="center">
                <i class="material-icons medium {{textColor}}-text">{{icon}}</i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 center-align {{textColor}}-text">
            <span class="flow-text">{{title}}</span>
        </div>
    </div>
</div>