<style>
    .my-item{
        padding: 1em 2em;
    }

    .my-title{
        padding: 0em 2em;
    }
</style>
<div class="my-item card waves-effect waves-block waves-light {{backColor}}">
    <div class="row">
        <div class="col s12 {{textColor}}-text valign-wrapper">
            <i class="material-icons medium valign">{{icon}}</i>
            <span class="flow-text my-title valign">{{title}}</span>
        </div>
    </div>

</div>
